<h2>Signup</h2>
<form method="POST">
    <input name="name" placeholder="Name"><br>
    <input name="age" placeholder="Age"><br>

    <select name="gender">
        <option>Male</option>
        <option>Female</option>
    </select><br>

    <input name="phone" placeholder="Phone"><br>
    <input name="email" placeholder="Email"><br>
    <input name="password" type="password" placeholder="Password"><br>

    <button type="submit">Signup</button>
</form>

<a href="/login">Already have account?</a>